.error_box {
	background-color: #7392a6;
	border: 1px dotted silver;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: white;
	width: 520px;
	margin: 3px;
	padding: 3px;
	text-align: center;
	line-height: 130%;
}

.error_text {
	background-color: white;
	text-align: left;
	font-family; sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: black;
	margin: 0px;
	padding: 5px;

}

.error_text a:link {
	color: blue;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 10px;

}

.error_text a:visited {
	color: blue;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 10px;
}	

.error_text a:active {
	color: blue;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 10px;
}		

.error_text a:hover {

	color: blue;
	text-decoration: underline;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 10px;
}

.eyecandyConsole {
	font-family: sans-serif, helvetica;
	font-size: 11px;
	color: black;
	border-top: 1px dotted silver;
	padding: 4px;
	line-height: 130%;
	background-color: #F1F1F1;
	position: fixed;
	bottom: 0px;
	left: 0px; 
	right: 0px;
	height: 25px;
	overflow: scroll;
	text-align: left;
	padding-left: 10px;
	z-index: 100;
}

.eyecandyConsole:before {
	content: "29o3 system console > ";
	font-weight: bold;
}

.eyecandyConsole:hover {
	height: 250px;
}

.eyecandyConsole:focus {
	height: 0px;
}

.poweredBy {
	font-family: sans-serif, helvetica;
	font-size: 11px;
	color: black;
	text-align: center;
	line-height: 230%;
	background-color: white;
	position: relative;
}

.poweredBy a:link,
.poweredBy a:visited,
.poweredBy a:active {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.poweredBy a:hover {
	text-decoration: underline;
}
